<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favico.jpg') }}" type="image/x-icon">
    <title>Delete User</title>
</head>
<body>
    <form action="" method="post">
        <div>
            <label for="name">ID</label>
            <input type="text" name="index" id="">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>