<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Form</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favico.jpg') }}" type="image/x-icon">
</head>
<body>
    <form method="post">
        <p>ID of the business is : {{ id+1 }}</p>
        <div>
            <label for="name">Full Name</label>
            <input type="text" name="name" id="">
        </div>
        <div>
            <label for="">User Name</label>
            <input type="text" name="username" id="">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text" name="email" id="">
        </div>
        <div>
            <label for="">Street</label>
            <input type="text" name="street" id="">
        </div>
        <div>
            <label for="">Suite</label>
            <input type="text" name="suite" id="">
        </div>
        <div>
            <label for="">City</label>
            <input type="text" name="city" id="">
        </div>
        <div>
            <label for="">Zipcode</label>
            <input type="text" name="zipcode" id="">
        </div>
        <div>
            <label for="">Latitude</label>
            <input type="text" name="latitude" id="">
        </div>
        <div>
            <label for="">Longitude</label>
            <input type="text" name="longitude" id="">
        </div>
        <div>
            <label for="">Phone number</label>
            <input type="text" name="phone" id="">
        </div>
        <div>
            <label for="">Website Url</label>
            <input type="text" name="website" id="">
        </div>
        <div>
            <label for="">Company Name</label>
            <input type="text" name="company name" id="">
        </div>
        <div>
            <label for="">catchPhrase</label>
            <input type="text" name="catchPhrase" id="">
        </div>
        <div>
            <label for="">Business</label>
            <input type="text" name="business" id="">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>